.noPrint {}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
}

.error {
    color: #700;
    margin: 1rem;
    background: #eef;
}

.reset {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 120%;
}

.justTheQuilt {
    margin-left: 1rem;
    font-size: 110%;
}

.showUp {
    background: rgba(0,0,0,0.4);
    color: white;
    padding: 0.2em;
}

.source {
    margin-left: 1rem;
    color: white;
}

@media print {
    .noPrint {
        visibility: hidden;
    }
}
