.noPrint {}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.error {
    color: #700;
    margin: 1em;
    background: #eef;
}

@media print {
    .noPrint {
        visibility: hidden;
    }
}