.base {
    margin: 3px;
    padding: 3px;
    cursor: default;
}

.true {
    composes: base;
    color: rgba(255, 255, 255, 100);
    background: black;
}

.false {
    composes: base;
    color: black;
    background: transparent;
}